<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koma.authlibrary">

    <application>
        <activity
            android:name=".AuthActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" />

        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/user_register"
            android:screenOrientation="portrait" />
    </application>
</manifest>
